<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CrowdLending.com</title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/fontawesome.css" rel="stylesheet" />
    <link href="/css/layout.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/footer.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="/js/jquery.vide.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>
    <nav role="navigation" class="navbar navbar-fixed-top">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-align-justify"></i>
              </button>
              <a href="/" class="navbar-brand">
                <img src="/img/logo.svg" class="img-responsive header-logo" />
              </a>
            </div>
            <div class="collapse navbar-collapse" style="padding: 0">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="http://crowdlending.assembleup.com/sign_up">Open an Account</a></li>
                <li><a href="/RaiseCapital">Submit a Project</a></li>
                <li><a href="http://crowdlending.assembleup.com/sign_in">Log In</a></li>
                <li class="dropdown">
                  <a href="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    About <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/Information.aspx">Need Capital</a></li>
                    <li><a href="/AboutUs.aspx">Company Overview</a></li>
                    <li><a href="/Team.aspx">Management Team</a></li>
                    <li><a href="/FAQ.aspx">FAQ</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    {{view}}
    <div class="marketing-section product-types" style="padding: 3em; position: relative;">
      <div class="angel" style="border-top-color: #f7f8f9;"></div>
      <div class="container" align="center">
        <h1 class="text-white">Join now to view investment opportunities.</h1>
        <br />
        <a href="http://crowdlending.assembleup.com/sign_up" class="btn btn-lg btn-danger" >
          <span id="ctl00_lblmsghome">Open an Account</span>
        </a>
      </div>
    </div>
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-2">
            <h4><i class="fa fa-comments" aria-hidden="true"></i>&nbsp; Social</h4>
            <p style="padding-left: 1.5em;">
              <a href="https://twitter.com/CrowdLendingInc"><i class="fa fa-twitter-square" aria-hidden="true"></i> &nbsp; Twitter</a><br />
              <a href="https://www.linkedin.com/company-beta/11035717"><i class="fa fa-linkedin-square" aria-hidden="true"></i> &nbsp; LinkedIn</a><br />
              <a href="https://facebook.com/crowdlending1/?tsid=0.940718279029928&source=result"><i class="fa fa-facebook-square" aria-hidden="true"></i> &nbsp; Facebook</a><br />
              <a href="mailto:info@crowdlending.com"><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp; Email</a>
            </p>
          </div>
          <div class="col-lg-2">
            <h4><i class="fa fa-folder-open" aria-hidden="true"></i>&nbsp; Projects</h4>
            <p style="padding-left: 1.5em;">
              <a href="http://crowdlending.assembleup.com/sign_up">Open an Account</a><br />
              <a href="/RaiseCapital">Submit a Project</a><br />
              <a href="/Information.aspx">Borrowers</a><br />
              <a href="http://crowdlending.assembleup.com/sign_in">Log In</a>
            </p>
          </div>
          <div class="col-lg-2">
            <h4><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp; About</h4>
            <p style="padding-left: 1.5em;">
              <a href="/AboutUs.aspx">Company Overview</a><br />
              <a href="/Team.aspx">Management Team</a><br />
              <a href="/FAQ.aspx">FAQs</a><br />
              <a href="/Privacy">Privacy Policy</a>
            </p>
          </div>
          <div class="col-lg-2">
            <h4><i class="fa fa-location-arrow" aria-hidden="true"></i>&nbsp; Contact</h4>
            <p style="padding-left: 1.5em;">
              CrowdLending.com<br />
              17 Main Street<br />
              Watertown, MA 02472<br />
              800-975-1260 ext 1<br />
            </p>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
    </div>
    <div id="subfooter">
      <div class="container">
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <p>
              CrowdLending.com is a website operated by CrowdLending, Inc. CrowdLending.com is intended only for
              accredited investors. CrowdLending.com doesn't make investment recommendations, and no communication
              through this website or in any other medium should be construed as such. Any financial projections or
              returns on this website are examples only, and there is no assurance that any information provided
              is accurate. Any investment information contained herein has been secured from sources
              CrowdLending.com believes are reliable, but we make no representations or warranties as to the
              accuracy of such information and accept no liability therefor. Investors should conduct their own
              due diligence, not rely on the financial assumptions or estimates displayed on this website, and are
              encouraged to consult with a financial advisor, attorney, accountant, and any other professional
              that can help you to understand and assess the risks associated with any investment opportunity.
            </p>
            <p>Copyright &copy; 2017 CrowdLending.com</p>
          </div>
          <div class="col-lg-1"></div>
        </div>
      </div>
    </div>
  </body>
</html>
