<nav role="navigation" class="navbar navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <i class="fa fa-align-justify"></i>
          </button>
          <a href="/" class="navbar-brand">
            <img src="/img/logo.svg" id="ctl00_side_logo" class="img-responsive header-logo" />
          </a>
        </div>
        <div class="collapse navbar-collapse">

          <div class="visible-xs-inline-block">
            <br />
            <p><a class="nav-header" href="/">Home</a></p>
            <p>
              <a class="nav-header" href="/AboutUs.aspx">Want to Invest?</a>
              <a class="nav-link" href="/AboutUs.aspx">Overview</a>
              <a class="nav-link" href="/Registration/">Open an Account</a>
              <a class="nav-link" href="/FAQ.aspx">FAQ</a>
            </p>
            <p>
              <a class="nav-header" href="/Information.aspx">Want to Borrow?</a>
              <a class="nav-link" href="/Information.aspx">Information</a>
              <a class="nav-link" href="/RaiseCapital"> Submit project </a>
              <a class="nav-link" href="/BorrowerLogin"> Borrower Login</a>
              <a class="nav-link" href="/AddBorrower"> Borrower Registration</a>
            </p>
            <p>
              <a class="nav-header" href="/AboutUs.aspx">Company Overview</a>
              <a class="nav-link" href="/AboutUs.aspx">About us</a>
              <a class="nav-link" href="/Team.aspx">Management Team</a>
            </p>
            <p>
              <a class="nav-header" href="/Login"> Log In</a>
              <a class="nav-header" href="/Registration" style="display:none">Sign Up</a>
            </p>
          </div>

          <ul class="nav navbar-nav navbar-right hidden-xs">
            <li><a href="/">Home</a></li>
            <li class="dropdown">
              <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Want to Invest? <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/AboutUs.aspx">Overview</a></li>
                <li><a href="/Registration/">Open an Account</a></li>
                <li><a href="/FAQ.aspx">FAQ</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Want to Borrow? <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/Information.aspx">Information</a></li>
                <li><a href="/RaiseCapital"> Submit project </a></li>
                <li><a href="/BorrowerLogin"> Borrower Login</a></li>
                <li><a href="/AddBorrower"> Borrower Registration</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Company Overview <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/AboutUs.aspx">About us</a></li>
                <li><a href="/Team.aspx">Management Team</a></li>
              </ul>
            </li>
            <li>
              <div class="login" align="center">
                <span><a href="/Login"> Log In</a></span> &nbsp;
                <span><a href="/Registration" style="display:none">Sign Up</a> </span>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</nav>
