<nav role="navigation" class="navbar navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <i class="fa fa-align-justify"></i>
          </button>
          <a href="/" class="navbar-brand">
            <img src="/img/logo.svg" class="img-responsive header-logo" />
          </a>
        </div>
        <div class="collapse navbar-collapse" style="padding: 0">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/Registration">Open an Account</a></li>
            <li><a href="/RaiseCapital">Submit a Project</a></li>
            <li><a href="/Login">Log In</a></li>
            <li class="dropdown">
              <a href="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                About <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/Information.aspx">Need Capital</a></li>
                <li><a href="/AboutUs">About Us</a></li>
                <li><a href="/FAQ.aspx">FAQ</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
